[submodule "src/find_cell_features/matlab_scripts/image_processing_misc"]
	path = src/find_cell_features/matlab_scripts/image_processing_misc
	url = https://github.com/mbergins/image_processing_misc.git
