<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-type" content="text/html; charset=[% settings.charset %]" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<title>[% settings.appname %]</title>

<link rel="stylesheet" href="[% request.uri_base %]/bootstrap/css/bootstrap.css" >
<link rel="stylesheet" href="[% request.uri_base %]/fontawesome/css/font-awesome.css" >
<link rel="stylesheet" href="[% request.uri_base %]/css/style.css" >

<script src="[% request.uri_base %]/javascripts/jquery-1.7.2.min.js"></script>
<script src="[% request.uri_base %]/bootstrap/js/bootstrap.min.js"></script>

<!-- <script src="[% request.uri_base %]/javascripts/pace.js"></script> -->
<!-- <link href="/pace/themes/pace-theme-barber-pole.css" rel="stylesheet" /> -->

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

</head>
<body>

[% IF session.user_id %]
<div class="navbar">
  <div class="navbar-inner">
	  <div class="container">
        <ul class="nav pull-right">
          <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">[% session.user_id | html %]<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/">Return to Home Page</a></li>
              <li><a href="/upload">Upload an Experiment</a></li>
              <li><a href="/all_exp_status">Submitted Experiments</a></li>
              <li><a href="/logout">Log Out</a></li>
            </ul>
          </li>
        </ul>
    </div>
  </div>
</div>
[% ELSE %]
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
        <ul class="nav pull-right">
          <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Not Logged In<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/">Return to Home Page</a></li>
              <li><a href="/upload">Upload an Experiment</a></li>
              <li><a href="/login">Login/Create Account</a></li>
            </ul>
          </li>
        </ul>
    </div>
  </div>
</div>
[% END %]

[% content %]

<footer class="footer">
	<div class="container">
	Return to the  <a href='/'>home page</a>
	</div>
</footer>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38268502-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>


</body>
</html>
