
<TMPL_INCLUDE NAME="html_start.tmpl">

<body>
<div class="container">
<h1>
	Focal Adhesion Analysis Server - Experiment Status
</h1>
<p />

<TMPL_IF NAME="no_id">
There wasn't any exp_id specified in the URL bar, if you followed a link please
make sure it appears correct in the URL bar.
</TMPL_IF>

<TMPL_IF NAME="exp_finished">
<b>Experiment ID:</b> <TMPL_VAR NAME="exp_name"><p />
Your experiment has finished running. You can download your results 
<a href=<TMPL_VAR NAME="download_link">>here</a>.
</TMPL_IF>

<TMPL_IF NAME="exp_running">
<b>Experiment ID:</b> <TMPL_VAR NAME="exp_name"><p />
Your experiment is running.<p />
</TMPL_IF>

<TMPL_IF NAME="exp_in_queue">
<b>Experiment ID:</b> <TMPL_VAR NAME="exp_name"><p />
Your experiment is in the queue.<p />
<b>Experiments in queue:</b> <TMPL_VAR NAME="queue_count"><p />
<b>Position in queue:</b> <TMPL_VAR NAME="queue_position">
</TMPL_IF>

<TMPL_IF NAME="exp_wrong_id">
I'm sorry, but the experiment ID specified (<TMPL_VAR NAME="exp_name">) wasn't
found. If you followed a link please make sure it appears correct in the URL
bar.
</TMPL_IF>


<br />
</div>

<TMPL_INCLUDE NAME="html_end.tmpl">

</body>
</html>
