
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<link rel="stylesheet" href="/FA_webapp/css/screen.css" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="/FA_webapp/css/print.css" type="text/css" media="print" />
<!--[if IE]>
  <link rel="stylesheet" href="../css/ie.css" type="text/css" media="screen, projection">
<![endif]-->
<link rel="stylesheet" href="/FA_webapp/css/style.css" type="text/css" media="screen, projection" />
<title>Focal Adhesion Analysis Server</title>
</head>

<body>
    <div class="container">
        <h1>Focal Adhesion Analysis Server</h1>

        <div class="prefix-1">
        <IMG src="/FA_webapp/images/ghost_small.png" alt="FA visualization">
		</div>
        
		<h2>Options</h2>
		
		<div class="prefix-1">
			<p>
			<a href='upload.pl'>Submit a New Experiment</a>
			<br>
			<a href='thresh_testing.pl'>Check Adhesion Threshold Setting</a>
			<br>
			<a href='server_status.pl'>Check Server Status</a>
			<br>
			<a href='/FA_webapp/results_understanding'>Help with Interpreting the Results</a>
			</p>
			<br />
		</div>
        
        <div class="span-24">
        <hr>
		<p>
		Thank you for helping to test the focal adhesion analysis server. I am
		hoping this testing period will give an idea what kind of loads will be
		present after announcing the availability more broadly. Feel free to
		email me (matthew.berginski [AT] gmail.com) if you have any problems.
		</p>

		<p>
		<br />
		Need a data set for testing? Download a set <a
			href='/FA_webapp/sample/Paxillin_test_set.zip'>here</a>.
		</p>

        <p>
		<br />
		<!--Welcome to the focal adhesion analysis server run out of Shawn Gomez's-->
		<!--lab at the University of North Carolina at Chapel Hill. This website-->
		<!--provides a simple interface to a set of computer vision algorithms-->
		<!--designed to automate the quantification of focal adhesion properties-->
		<!--based on fluorescence time-lapse image series.-->
		</p>
		<br />

        </div>
        
        <!--
        <hr>
        <div>
        <A HREF="http://validator.w3.org/check/referer">*</A> <A HREF="http://jigsaw.w3.org/css-validator/check/referer">*</A>
        </div>
        -->
    </div>
</body>
</html>
