<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
<head>
<title>Focal Adhesion Analysis Server - Server Status</title>
<link rel="stylesheet" type="text/css" href="/FA_webapp/css/screen.css" />
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
</head>
<body>
<div class="container">
<h1>
	Focal Adhesion Analysis Server - Server Status
</h1>

<br /><b>Experiments in queue:</b> <TMPL_VAR NAME="queue_count">
<br /><b>Experiments being processed:</b> <TMPL_VAR NAME="run_count">
<br /><b>Number of Processing Workers:</b> <TMPL_VAR NAME="worker_count">
<br /><b>The server has been running for:</b> <TMPL_VAR NAME="server_uptime">
<br /><b>The server load levels are:</b> <TMPL_VAR NAME="server_load">

<h2>Server Load Over the Last Day</h2>
<img src="/FA_webapp/images/server_load_day.png" alt="Server Load - Over One Day">

<h2>Server Load Over the Last Week</h2>
<img src="/FA_webapp/images/server_load_week.png" alt="Server Load - Over One Week">

</div>

<TMPL_INCLUDE NAME="html_end.tmpl">

</body>
</html>
