
<TMPL_INCLUDE NAME="html_start.tmpl">

<body>
<div class="container">
<h1>Focal Adhesion Analysis Server - Threshold Testing</h1>

<h3>Adhesion Image File</h3>
<form method="post" enctype="multipart/form-data">
<input type="file" name="uploaded_file"/>
<br><br>
<input type="submit" name="Submit Data" value="Submit Data" id="submit_button" onclick="threshold_submit_activity()"/>
</form>

<div id="working"></div>

<hr />

<p />The most critical parameter in
the analysis pipeline is the threshold used to segment the focal adhesions from
background. Since running the full analysis can take several hours, you may
want to run a representative image through this system to see what threshold
will be most appropriate for your data set. It might take up to 30 seconds
depending on the server load for an image to be uploaded and processed. After
the image processed you will be automatically forwarded to the results page.

<p />Most image formats should work in the thresholding algorithm, but I've
only tested it with tiff (unstacked please) and png files. Also keep in mind
that in a full run of the processing pipeline, the entire image set is used to
determine the actual threshold value, here only the image you provide is used.
Thus, there will be some slight differences in the exact threshold selected,
but in general I've found them to be very similar.

<p>Don't have an image to upload as a test? Try this <a
href="/sample/sample_image.png">one</a>.
<p>See a sample result page <a href="/threshold_testing_sample">here</a>.

</div>

<TMPL_INCLUDE NAME="html_end.tmpl">

</body>
</html>
