
<TMPL_INCLUDE NAME="html_start.tmpl">

<body>
<div class="container">
<h1>
	Focal Adhesion Analysis Server - Experiment Upload
</h1>
<p />
Unexpected file type, got: <TMPL_VAR NAME="file_type">

<p />
Please upload a stacked TIFF, see directions on upload page.
</div>

<TMPL_INCLUDE NAME="html_end.tmpl">

</body>
</html>
