
<TMPL_INCLUDE NAME="html_start.tmpl">

<body>
<div class="container">
<h1>
	Focal Adhesion Analysis Server - Experiment Upload
</h1>
<p />
The file uploaded does not appear to be a TIFF file. Please upload a TIFF file,
see directions on the upload page.
</div>

<TMPL_INCLUDE NAME="html_end.tmpl">

</body>
</html>
