
<TMPL_INCLUDE NAME="html_start.tmpl">

<body>
<div class="container">
<h1>
	Focal Adhesion Analysis Server - Experiment Upload
</h1>
Done loading file.<p />
Total Upload Time: <TMPL_VAR NAME="upload_time"> seconds.<p />
Thanks for the file, if you submitted an email address you can expect
notification when the processing is done.  Otherwise, you can track your
experiment's progress <a href=<TMPL_VAR NAME="status_link">>here</a>. Note
that if you didn't provide an email address, you won't be able to access your
results without this link.
<br />
</div>

<TMPL_INCLUDE NAME="html_end.tmpl">

</body>
</html>
