/* Taken from the bootstrap docs CSS */

/* Footer
-------------------------------------------------- */

.footer {
  /* text-align: center; */
  padding: 20px 0;
  margin-top: 20px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}
.footer p {
  margin-bottom: 0;
  color: #777;
}
.footer-links {
  margin: 10px 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}

/* Forcing the file upload to align with text labels correctly */
input[type="file"] {
	padding-top: 5px;
}
