<div class="container">
	<div class="page-header">
		<div class="row">
			<div class="span12">
				<h1>Focal Adhesion Analysis Server</h1>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="span12">
        	<IMG src="images/ghost.png" alt="FA visualization">
			<h2>Options</h2>
			<ul>
				<li><a href='upload'>Submit a New Experiment</a></li>
				<li><a href='thresh_testing'>Check Adhesion Threshold Setting</a></li>
				<li><a href='server_status'>Check Server Status</a></li>
				<li><a href='results_understanding'>Help with Interpreting the Results</a></li>
			</ul>

			<hr>
			<p>
			Welcome to the focal adhesion analysis webserver, hosted from Shawn
			Gomez's <a href="http://gomezlab.bme.unc.edu/">lab</a> at the
			University of North Carolina at Chapel Hill. This website implements a
			set of computer vision algorithms designed to automatically process
			time-lapse images of fluorescently labeled focal adhesion proteins in
			motile cells. The methods associated with the processing have been
			published in <a
				href="http://dx.doi.org/10.1371/journal.pone.0022025">PLOS One</a>
			and <a
				href="http://dx.doi.org/10.1016/j.cell.2011.12.034">Cell</a>.

			<p>
			If you have any problems with the website, questions about the
			results or suggestions for improvements, please email me
			(matthew.berginski [AT] gmail.com).

			<p>
			Need an image set for testing? Download a set <a
				href='sample/Paxillin_test_set.tif'>here</a>.

			<p>
			Want to see what the processed results are like? Download this <a
				href='sample/FAAS_sample_results.zip'>file</a> and take a look
			at the results interpretation <a
				href="results_understanding">page</a>.
		</div>
	</div>
</div>
