<!-- HEADER line -->
<div role="main" class="container">
	<div class="row pb-2 mt-4 mb-2 border-bottom">
		<div class="col">
			<h1>Focal Adhesion Analysis Server - Logout</h1>
		</div>
	</div>

	<div class="row">
		<div class="col">
			You have successfully logged out.
		</div>
	</div>
</div>
