<!-- HEADER line -->
<div class="container">
	<div class="page-header">
		<div class="row">
			<div class="span12">
				<h1>Focal Adhesion Threshold Testing</h1>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="span12">
			<form class="form-horizontal" enctype="multipart/form-data" method="post">
				<fieldset>

					<div class="control-group">
						<label class="control-label" for="input_image">FA Image</label>
						<div class="controls">
							<input type="file" name="input_image">
							<span class="help-inline">TIFF formatted image of the focal adhesions</span> 
						</div>
					</div>

					<!-- The Submit buttons -->
					<div class="form-actions"> 
						<button type="submit" class="btn btn-primary">Submit Image</button> 
					</div> 

				</fieldset>
			</form>

			<p>
			After submitting an image above, the server will immediatly process the provided image and return the results of several different segmentation thresholds. These results will be similiar, but not identical to the results of segmentation.
			
			<p>
			If you would like to test the server, try this <a href=sample/sample_image.png>image</a>.
			
			<p>
			You can see some sample results <a href=sample/thresholding/index.html>here</a>.

		</div>
	</div>
</div>
