<!-- HEADER line -->
<div class="container">
  <div class="row pb-2 mt-4 mb-2 border-bottom">
	  <div class="col">
		  <h1>Focal Adhesion Threshold Testing</h1>
	  </div>
  </div>

	<div class="row">
		<div class="col">
			<form class="form-horizontal" enctype="multipart/form-data" method="post">

				<fieldset>

					<div class="form-group row">
						<label for="input_image" class="col-sm-2 col-form-label">FA Image</label>
						<div class="col-sm-5">
							<div class="custom-file">
								<input type="file" class="custom-file-input" name="input_image" id="input_image">
								<label class="custom-file-label" for="customFile">Choose file</label>
							</div>
						</div>
						<div class="col-sm-4">
							TIFF formatted image set of the focal adhesions
						</div>
					</div>

					<!-- The Submit buttons -->
					<div class="form-group row">
						<button class="btn btn-primary" type="submit">Submit Image</button>
					</div>

				</fieldset>
			</form>

			<hr>

			<p>
			After submitting an image above, the server will immediatly process
			the provided image and return the results of several different
			segmentation thresholds. This segmentation process skips splitting
			the focal adhesions, as is the default in the full analysis suite.
			
			<p>
			If you would like to test the server, try this <a href=sample/sample_image.png>image</a>.
			
			<p>
			You can see some sample results <a href=sample/thresholding/index.html>here</a>.

		</div>
	</div>
</div>
