<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js"></script>
<script>
	var counter = 0;
	function submit_activity() {
		if ($("#upload_form").valid()) {
			$("#upload_form_and_instructions").collapse('hide');
			$("#upload_status").collapse('show');
			$("#following_upload_instructions").collapse('show');

			setInterval("count_up_working('upload_status','Uploading for ')", 1000); 
		}
	}

	function count_up_working(id_name, status_text) {
		document.getElementById(id_name).innerHTML = status_text + counter + " seconds.";
		counter = counter + 1;
	}

	$(document).ready(function(){
		$("#upload_form").validate({
			rules: {
				time_spacing: {
					required: true,
					min: 0
				},
				stdev_thresh: {
					required: true,
					min: 0.1
				},
				min_linear_model_length: {
					required: true,
					min: 5
				},
				min_adhesion_size: {
					min: 0
				},
				max_adhesion_size: {
					min: 1
				},
				FAAI_min_ratio: {
					min: 1.1
				},
			},
		});
	});
</script>

<div class="container">
	<!-- HEADER line -->
	<div class="page-header">
		<div class="row">
			<div class="span12">
				<h1>Focal Adhesion Analysis Server - Experiment Upload</h1>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="span12">
			<div id="upload_form_and_instructions" class="collapse in">
				<p/>
				Full <a href="#instructions">instructions</a> available at the
				bottom of the page.
				<form id="upload_form" class="form-horizontal" enctype="multipart/form-data" method="post">
					<fieldset>
						<h2>Required File</h2>
						<div class="control-group">
							<label class="control-label" for="adhesion_file">FA Time-lapse</label>
							<div class="controls">
								<input type="file" name="adhesion_file" class="required" />
								<span class="help-inline">TIFF formatted time-lapse image set of the focal adhesions</span> 
							</div>
						</div>

						<h2>Experiment Configuration</h2>
						<div class="control-group">
							<label class="control-label" for ="time_spacing">Imaging Frequency (minutes)</label>
							<div class="controls">
								<input type="text" class="input-xlarge" value="[% time_spacing %]" name="time_spacing" />
								<span class="help-inline">Amount of time, in minutes, between the images</span> 
							</div>
						</div>

						<h2>Segmentation Options</h2>
						<div class="control-group">
							<label class="control-label" for="no_ad_splitting">Don't Split Adhesions</label>
							<div class="controls">
								[% IF no_ad_splitting %]
									<input type="checkbox" checked name="no_ad_splitting" />
								[% ELSE %]
									<input type="checkbox" name="no_ad_splitting" />
								[% END %]
								<span class="help-inline">If selected, the watershed segmentation methods are deactivated</span> 
							</div>
						</div>
						
						<div class="control-group">
							<label class="control-label" for="confocal_mode">Apply Median Filter</label>
							<div class="controls">
								[% IF confocal_mode %]
									<input type="checkbox" checked name="confocal_mode" />
								[% ELSE %]
									<input type="checkbox" name="confocal_mode" />
								[% END %]
								<span class="help-inline">If selected, a median filter will be applied before segmentation</span> 
							</div>
						</div>
						
						<div class="control-group">
							<label class="control-label" for ="stdev_thresh">Detection Threshold</label>
							<div class="controls">
								<input type="text" class="input-xlarge" value="[% stdev_thresh %]" name="stdev_thresh" >
								<span class="help-inline">Normally set to 2, see instructions below for more help</span> 
							</div>
						</div>

						<h3>Adhesion Size Options</h3>
						<div class="control-group">
							<label class="control-label" for ="min_adhesion_size">Min Adhesion Size (pixels)</label>
							<div class="controls">
								<input type="text" class="input-xlarge" value="[% min_adhesion_size %]" name="min_adhesion_size" >
								<span class="help-inline">Leave blank to remove the minimum adhesion size limit</span> 
							</div>
						</div>

						<div class="control-group">
							<label class="control-label" for ="max_adhesion_size">Max Adhesion Size (pixels)</label>
							<div class="controls">
								<input type="text" class="input-xlarge" value="[% max_adhesion_size %]" name="max_adhesion_size" >
								<span class="help-inline">Leave blank to remove the maximum adhesion size limit</span> 
							</div>
						</div>
						
						<h2>Analysis Options</h2>
						
						<div class="control-group">
							<label class="control-label" for ="min_linear_model_length">Min FA Phase Length (images)</label>
							<div class="controls">
								<input type="text" class="input-xlarge" value="[% min_linear_model_length %]" name="min_linear_model_length" >
								<span class="help-inline">The minimum number of points in an assembly or disassembly phase</span> 
							</div>
						</div>
						
						<div class="control-group">
							<label class="control-label" for="static">Only Calculate Static Properties</label>
							<div class="controls">
								[% IF static %]
									<input type="checkbox" checked name="static" />
								[% ELSE %]
									<input type="checkbox" name="static" />
								[% END %]
							</div>
						</div>
						
						<h3>FAAI Options</h3>
						<div class="control-group">
							<label class="control-label" for ="FAAI_min_ratio">Min FAAI Ratio</label>
							<div class="controls">
								<input type="text" class="input-xlarge" value="[% FAAI_min_ratio %]" name="FAAI_min_ratio" >
								<span class="help-inline">The minimum value of the FA major/minor axis for inclusion in the FAAI</span> 
							</div>
						</div>

						<h2>Optional Cell Mask Image Set</h2>
						
						<div class="control-group">
							<label class="control-label" for="cell_mask_file">Cell Mask</label>
							<div class="controls">
								<input type="file" name="cell_mask_file" />
								<span class="help-inline">TIFF formatted image to used to find the edge of the cell</span> 
							</div>
						</div>
							
						<h2>Notification Options</h2>
						<div class="control-group">
							<label class="control-label" for="email">Email Address</label>
							<div class="controls">
								<input type="text" value="[% email %]" class="input-xlarge email" name="email">
								<span class="help-inline">Your email address will only be used for notification purposes</span> 
							</div>
						 </div> 

						<div class="control-group">
							<label class="control-label" for="exp_note">Experiment Note</label>
							<div class="controls">
								<input type="text" class="input-xlarge" name="exp_note">
								<span class="help-inline">Any text in this box will be returned with the results email</span> 
							</div>
						</div>

						<!-- The Submit buttons -->
						<div class="form-actions"> 
							<button type="submit" class="btn btn-primary" onclick="submit_activity()">Submit Experiment</button> 
						</div> 
					</fieldset>
				</form>

				<hr />
				<div id="instructions"></div>
				<h1>Instructions</h1>
				If you encounter any problems or find any of these instructions
				confusing, feel free to email me (matthew.berginski [AT]
				gmail.com).

				<h2>Required Files</h2>
				<h3 class="thin">
					Adhesion Image File
				</h3>
				The program expects that you will submit a grayscale stacked
				TIFF image set of the Focal Adhesion marker protein. The
				analysis methods have been tested with a wide range of Focal
				Adhesion markers including Paxillin, FAK and Vinculin. The image
				set can be of any size, but keep in mind that a large image set
				can take some time to upload.

				<h2>Detection Settings</h2>
				<p/><b>Adhesion Detection Threshold:</b>This number is used by the adhesion
				detection script to determine when a pixel is or is not part of an adhesion.
				After appling a high pass filter to the images, pixels above this level are
				considered part of an adhesion, while the pixels below are classified as
				background. The lower this number, the more pixels will be classified as part
				of an adhesion.  The default value of two works well in most cases, but values
				down to around one may be appropriate.  Also be aware that lower values will
				lengthen the runtime.  
				<!-- If you want to see what one of your images looks like -->
				<!-- when processed with a specific threshold try out the threshold <a -->
				<!-- 	href=thresh_testing>tester</a>. -->
				
				<p/><b>Apply Median Filter:</b> This option applies a 7 by 7
				median filter to the focal adhesion image during segmentation.
				I've found this setting useful for segmenting adhesions imaged
				using confocal microscopy. The filtered image is only used for
				segmentation purposes, so all downstream properties are based on
				the raw image values. If using this setting, I also suggest you
				select the "Don't Split Adhesions Option", otherwise the
				watershed segmentation has a tendency to oversegment the FAs.

				<p/><b>Don't Split Adjacent Adhesions:</b> This option turns off the wateshed
				segmentation method normally used to split adjacent adhesions. The watershed
				segmentation is the slowest part of the image processing, if this option is
				selected, processing runtimes decrease. You might want to turn on this option
				if the adhesions in your experiments don't appear to touch one another.
				
				<p/><b>Min/Max Adhesion Size:</b> These settings control the
				minimum or maximum adhesion sizes allowed through the
				segmentation step, both are specified in pixels.
				

				<h2>Analysis Options</h2>
				<p/><b>Only Calculate Static Properties:</b> This option turns
				off the all the processing steps after calculating the FA
				properties for each image. None of the adhesions are tracked and
				none of the dynamic properties are calculated.

				<p/><b>Min FA Phase Length:</b> When determining the assembly
				and disassembly rates of the FAs in the image set, the analysis
				methods use log-linear models to determine the value of the
				rates. This setting specifies the minimum number of data points
				that will be included in the assembly and disassembly phases.
				Decreasing this value allows more assembly and disassembly
				phases to be gathered, but at the cost of those phases to
				potentially be built on fewer data points.
				
				<p/><b>Min FAAI Ratio:</b> The first step in calculating the
				FAAI is to filter FA's with a low major/minor axis ratio. The
				angle of a single FA can't be reliably determined when this
				ratio is low. The default value of 3 has worked for the image
				sets in the Cell publication (see front page), but the adhesions
				in your experiments may need a different value.

				<h2>Additional Image Sets</h2>

				<p/><b>Cell Mask:</b> If a set of images are specified as the
				cell mask set, the software will attempt to find the cell body
				from these images. The methods work well in cases where the
				entire body of the cell is expressing a marker and a substantial
				portion of the background is also visible. If such a set of
				images are provided, various properties concerning the adhesions
				and their distance from the cell edge and cell centroid will be
				calculated.

				<h2>Notification Options</h2>
				<h3>Email Address</h3>
				If an email address is provided, you will be notified via email when your job
				finishes processing. Your email address will only be used for notification
				purposes. If this is not provided, then the experiment status page returned on
				submission needs to bookmarked in order to retrieve your results.

				<h3>Note to Self About Experiment</h3>
				Whatever you put in this box will be send back to you in any email the system
				sends concerning your experiment. It is limited to 80 characters.
				
				<div id="default_vals"></div>
				<h2>Changing the Default Values from the URL Bar</h2>
				
				You can change the default values for all the experimental
				parameters by appending a few characters to the upload URL. The
				general format for this is
				?VARIABLE_NAME1=VAL1&VARIABLE_NAME2=VAL2. For example, if you
				want to set the default time between images to 0.5, you can use
				this URL for the upload page:

				<p />
				<blockquote>
				<a href="http://faas.bme.unc.edu/upload?time_spacing=0.5">
				http://faas.bme.unc.edu/upload?time_spacing=0.5</a>
				</blockquote>
				
				<p />
				Now suppose you want to set the default time between images to
				0.5 and minimum adhesion size to 5 pixels:
				
				<p />
				<blockquote>
				<a href="http://faas.bme.unc.edu/upload?time_spacing=0.5&min_adhesion_size=5">
				http://faas.bme.unc.edu/upload?time_spacing=0.5&min_adhesion_size=5</a>
				</blockquote>
				
				<p />
				In order to set the checkboxes, such as enabling static analysis, using a value of 1 for on and 0 for off. The rest of the variable names should be self-explanitory:
				<ul>
					<li>stdev_thresh</li>
					<li>static</li>
					<li>no_ad_splitting</li>
					<li>min_linear_model_length</li> 
					<li>min_adhesion_size</li>
					<li>max_adhesion_size</li> 
					<li>FAAI_min_ratio</li>
					<li>email</li>
				</ul>
				
				<a href="#upload_form">Return</a> to the submission form.
			</div>
			<div id="upload_status" class="collapse">Starting Upload</div>
			<div id="following_upload_instructions" class="collapse">
				<p>
				Monitoring your upload:
				<ul>
					<li>Google Chrome: In the lower left hand corner, you should see a percentage of how much of your upload has finished.</li>
					<li>Firefox: In the tabs bar, there will be a rotating indicator and in the lower left hand corner a note about "Sending request to ..."</li>
					<li>Internet Explorer: In the tabs bar, there will be a rotating indicator</li>
				</ul>
			</div>
		</div>
	</div>
</div>
</div>
