/* Taken from the bootstrap docs CSS */

/* Footer
-------------------------------------------------- */

.footer {
  /* text-align: center; */
  padding: 20px 0;
  margin-top: 20px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}
.footer p {
  margin-bottom: 0;
  color: #777;
}
.footer-links {
  margin: 10px 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}

/* Forcing the file upload to align with text labels correctly */
input[type="file"] {
	padding-top: 5px;
}

/* .pace .pace-progress { */
/*   background: #34853a; */
/*   position: fixed; */
/*   z-index: 2000; */
/*   top: 0; */
/*   left: 0; */
/*   height: 2px; */
/*  */
/*   -webkit-transition: width 1s; */
/*   -moz-transition: width 1s; */
/*   -o-transition: width 1s; */
/*   transition: width 1s; */
/* } */
/*  */
/* .pace-inactive { */
/*   display: none; */
/* } */
